block content
  //- CREATION
  +slide
    .flex.flex-row.h-100p.relative.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/toys-messy.jpg)")
      .absolute.bg-white.bg-opacity-75p.inset-0.flex.flex-col.flex-center
        .flex.flex-col
          .text-9.text-center.purple.bold.text-shadow Creating

  //- EXEMPLES DE SUJETS
  +slide
    +title Topic examples:
    .flex.flex-col.flex-main-center.h-100p
      .flex.flex-col.text-3.justify-around.h-100p.mx-10p.my-5
        .flex.flex-col
          .bullet-green.bullet-arrow.lh-1 Mentoring
          .pl-4.text-2.gray-7 What you wished you had known one year ago
        .flex.flex-col
          .bullet-green.bullet-arrow.lh-1 Bug fix
          .pl-4.text-2.gray-7 Document your last bug fix
        .flex.flex-col
          .bullet-green.bullet-arrow.lh-1 Post-Mortem
          .pl-4.text-2.gray-7 Explain your last production incident and what you learned
        .flex.flex-col
          .bullet-green.bullet-arrow.lh-1 Opinion
          .pl-4.text-2.gray-7 Something specific, that you do differently than anybody else

  //- KYAN KHOJANDI
  +slide
    .flex.flex-row.h-100p
      .flex-none.w-60p.flex.flex-center.flex-col
        .flex-col
          .text-7.text-left.lh-tight.bold.text-shadow.text-shadow-gray.gray-8 
            div Every #[.inline.purple.text-shadow idea] 
            div is a #[.inline.purple.text-shadow toy].
          .text-4.gray-6.mt-4 — Kyan Khojandi
      .flex-none.w-40p.h-100p.bg-cover.bg-no-repeat.bg-center(style="background-image:url(./assets/kyan.png")


  //- NOTER LES IDEES
  +slide
    .flex.flex-row.h-100p.relative.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/toys-messy.jpg)")
      .absolute.bg-white.bg-opacity-75p.inset-0.flex.flex-col.flex-center
        .flex.flex-col
          .bullet-arrow.bullet-purple.text-6 Write down all your ideas
          .text-3.gray-7.pl-8 So you'll find them later


  //- GROUPER LES IDEES
  +slide
    .flex.flex-row.h-100p.relative.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/toys-lego.jpg)")
      .absolute.bg-white.bg-opacity-75p.inset-0.flex.flex-col.flex-center
        .flex.flex-col
          .bullet-arrow.bullet-purple.text-6 Group them together
          .text-3.gray-7.pl-8 To identify a writing angle

