block content
  //- CONCLUSION
  //- Looks Good To Me
  //- Prêt à publier
  //-
  //- Avec toutes ses étapes, on découpe une tâche qui fait peur en petites
  //- sous-parties
  //- Balancer des idées en vrac
  //- Raconter une histoire avec
  //- Linter le texte
  //-
  //- Envoyez moi les liens de vos articles, je les lirai et partagerai avec
  //- plaisir
  //- https://ih1.redbubble.net/image.175194664.2039/st,small,507x507-pad,600x600,f8f8f8.u5.jpg
  +slide
    +title Thank you
    .flex.flex-col.flex-center.h-100p
