block content
  //- FOND: Sujets
  //- Donner des examples de sujets
  //- Mentor d'il y a un an. Il ne faut pas écrire que pour des experts
  //- Bug spécifique: Gens seront content de pouvoir trouver la solution
  //- Post-Mortem: Gros problème en prod, on explique
  //- Opinion, valeur: On fait les choses différement, voila pourquoi
  +slide.bg-blue-2
    +title Examples de sujets
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        ul
          li Mentor
          li Bug spécifique
          li Post Mortem
          li Opinion

  //- CITATION KYAN
  //- Chaque idée est un jouet. 
  //- On veut se faore une chambre pleine de jouets.
  //- Ce que ça veut dire c'est que dès qu'on a une idée, on la note pour plus
  //- tard. Et quand on a envie de jouer (écrire), on ressort les jouets.
  +slide.bg-blue-2
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5 Chaque idée est un jouet.

  //- MATIERE PREMIERE
  //- On prends un Google Doc
  //- On note toutes les idées: anecdotes, citations, liens, gif animés, etc
  //- On note tout, on verra avec quoi on joue ensuite
  //- Photo d'une chambre avec plein de jouets partout
  //- Permet de se vider la tête
  //- https://unsplash.com/photos/0VNVxhEnkII
  //- https://unsplash.com/photos/1r8ZIY1N5Cs
  //- https://unsplash.com/photos/C0koz3G1I4I
  //- https://unsplash.com/photos/I_y1lb2FzJQ
  +slide.bg-blue-2
    +title Google Doc est votre chambre
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        div Photo de plein de jouets en vrac
        div On note toutes les idées, anecdotes, liens, etc
        div Servira de matière première ensuite

  //- TROUVER L'ANGLE
  //- En regardant les idées, on ressort des themes principaux
  //- On essaie de grouper les idées ensemble
  //- Si on a décidé de jouer aux Lego, on enlève les Playmobil
  //- https://unsplash.com/photos/RA94dxPhxGg
  //- https://unsplash.com/photos/MxrkWAV6k7M
  +slide.bg-blue-2
    +title Choisissez à quoi vous jouez
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        div Grouper les idées ensemble
        div Thèmes principaux
        div Si on décide de jouer aux Legos, on mets de coté les Playmobils
