block content
  //- FORME
  //- Rendre l'histoire facilement lisible par d'autres
  //- Comme un linter de code, purement analytique
  //-
  //- Faire des phrases grammaticalement correctes
  //- Pas de fautes de frappes qui déconcentrent
  //- Que les idées soient dans le bon ordre
  //- S'assurer des transitions entre chaque parties
  //-
  //- Dernière partie, déconnecter son cerveau, oubliez le fond, faites
  //- confiance à la structure et concentrez vous sur la forme
  +slide.bg-purple-2
    +title Forme
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5 Rendre l'histoire compréhensible par d'autres

  //- SUPPRIMER DU CONTENU
  //- A ce stade vous trouverez sans doute des phrases ou des idées qui sonnent
  //- bizarre
  //- Il faut les enlever. C'est dur, mais ça améliorera le contenu général
  //- Faire en sorte que le ratio signal/bruit soit plus important
  //- Faire des phrases plus courtes, supprimer les appartés
  //-
  //- À ce stade, il ne faut plus être attaché au contenu
  //- Fonctionne comme un linter: si inutile, on l'enlève
  +slide
    +title Citation
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5  Si j'avais eu plus de temps, j'aurais écrit une lettre plus courte

  //- PARLER A UN AMI
  //- Conseil pour lier le tout: écrivez comme si vous parliez à un ami
  //- tech, mais pas dans la même boite, permet de garder le bon ton
  +slide
    +title Conseil: parlez à un pote
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5 Imaginez un ami qui ne bosse pas dans votre boite et écrivez comme vous lui parleriez
        | Permet de garder le même ton, de raconter la bonne histoire

  //- TEST FINAL: REVUE DE TEXTE
  //- Test final, comme une revue de code, faire une revue de texte
  //- Partager le document à max 5 personnes
  //- Voir leurs feedback et améliorer
  //- N'ont pas la tête dedans, donc verront des fautes de frappe, des
  //- transitions qui manquent, des contextes trop courts, etc
  //-
  //- Trop de feedback peut paralyser, et ne pas essayer de faire un consensus
  //- en cas de feedback contradictoire 
  +slide
    +title Peer Review
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        div Comme une revue de code
        div Vont voir fautes de frappes, contexte et transition manquant
        div max 5 personne: en cas de contradiction, pas de consensus: trust your instinct
