block content
  //- TITLE
  +slide
    .flex.flex-col.h-100p.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/title.jpg)")
      .flex-auto.flex.flex-col.flex-center
        .text-left.white.text-shadow
          .bold.text-7 Blog Tech
          .text-4 Vaincre le syndrome de la page blanche

  //- WHO AM I?
  +slide
    +title Who am I?
    .flex.h-100p.flex-row.flex-center
      .flex.flex-row.w-90p
        .flex-none.w-66p.flex.flex-center
          .flex-col.w-90p
            .block.text-7.lh-1 Tim Carry
            .block.text-4.gray-7 Developer Advocate
            .block.green.text-4
              .inline @
              .inline.underline pixelastic
            .flex.flex-row.mt-5
              .flex-none.w-50p.flex.flex-center.mr-5
                img.w-100p(src=`./assets/contentsquare-dark.svg`, alt="Contentsquare")
              .flex-none.w-33p.flex.flex-main-start.flex-cross-center
                img.h-80p(src=`./assets/humantalks-black.png`, alt="HumanTalks")
        .flex-none.w-33p.flex.flex-center
          img.h-20.rounded-full(src="./assets/avatar.jpg")


  //- LINKEDIN BULLSHIT
  //- +slide
  //-   +title Le secret des gens productifs
  //-   .flex.flex-col.flex-cross-start.flex-main-center.h-100p
  //-     .flex.flex-col.text-4.ml-10p
  //-       ul
  //-         li.bullet-blue.bullet-1 Bookez 2h
  //-         li.bullet-blue.bullet-2 Trouvez une idée
  //-         li.bullet-blue.bullet-3 Écrivez tout de suite
  //-         li.bullet-blue.bullet-4 Publiez
  //-         li.bullet-blue.bullet-5 Partagez sur LinkedIn

  //- ERNEST HEMINGWAY
  +slide
    .flex.flex-row.h-100p
      .flex-none.w-60p.flex.flex-center.flex-col
        .flex-col
          .text-6.text-left.lh-tight.bold.text-shadow.text-shadow-gray.gray-8
            div Écrivez #[.inline.green.text-shadow bourré],
            div corrigez #[.inline.green.text-shadow sobre].
          .text-4.gray-6.mt-4 
            .inline — Ernest Hemingway
            .inline.gray-6.text-opacity-25p ?
      .flex-none.w-40p.h-100p.bg-cover.bg-no-repeat.bg-center(style="background-image:url(./assets/hemingway.jpg")


  //- CREATION, NARRATION, EDITION
  +slide
    .flex.flex-row.flex-center.h-100p
      //- Création
      .flex-none.w-33p.h-100p.flex.flex-row.border-r-01.border-black
        .relative.flex-auto.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/toys-messy.jpg)")
          .absolute.p-2.bg-white.bg-opacity-50p.inset-0.flex.flex-col.flex-center
            .text-6.text-center.purple.bold.text-shadow Création

      //- Narration
      .flex-none.w-33p.h-100p.flex.flex-row.border-r-01.border-black
        .relative.flex-auto.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/fairytale.jpg)")
          .absolute.p-2.bg-white.bg-opacity-50p.inset-0.flex.flex-col.flex-center
            .text-6.text-center.blue-5.bold.text-shadow Narration

      //- Édition
      .flex-none.w-33p.h-100p.flex.flex-row
        .relative.flex-auto.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/proofread.jpg)")
          .absolute.p-2.bg-white.bg-opacity-50p.inset-0.flex.flex-col.flex-center
            .text-6.text-center.teal-5.bold.text-shadow Édition

