block content
  //- TITLE
  +slide.bg-green
    .flex.flex-center.h-100p.px-3
      .flex.text-6.white.bold.text-shadow.w-90p=data.meta.title

  //- SPEAKER
  //- Developer Advocate et Co-Organizer de meetups
  //- Aime en pro et perso le partage de connaissance tech
  //- Avec la pandémie, moins de meetups physique, contenu qu'on peut lire
  //- Plus de blog
  +slide
    +title Qui suis-je ?
    .flex.h-100p.flex-row.flex-center
      .flex.flex-row.w-90p
        .flex-none.w-66p.flex.flex-center
          .flex-col.w-90p
            .block.text-7.lh-1 Tim Carry
            .block.text-4.gray-7 Developer Advocate
            .block.green.text-4
              .inline @
              .inline.underline pixelastic
            .flex.flex-row.mt-5
              .flex-none.w-33p.flex.flex-main-start.flex-cross-center
                img.h-80p(src=`./assets/humantalks-black.png`, alt="HumanTalks")
              .flex-none.w-50p.flex.flex-center
                img.w-100p(src=`./assets/contentsquare.png`, alt="Contentsquare")
        .flex-none.w-33p.flex.flex-center
          img.h-20.rounded-full(src="./assets/avatar.jpg")

  //- POURQUOI
  //- Peut-être un blog perso un peu vide
  //- Ou sa boite qui aimerait un blog tech pour faire rayonner son équipe tech
  //- Ici sont des conseils en 10mn pour se débloquer, pas des règles immuables
  //- ---
  //- Version longue: Blague sur avoir un blog perso sur lequel on a passé du
  //- temps à choisir le framework, le nom de domaine, les perfs et la CI.
  //- Maintenant faut écrire dessus...
  +slide
    +title Conseils
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5 
        | Image de plusieurs blogs techs (ManoMano, LeBonCoin, Algolia, Alan,
        | Doctolib)


  //- CASSER LE MYTHE
  //- Faire un blague sur une recette en 3 points sur comment écrire
  //- Prendre 2h dans son calendrier
  //- Penser à une idée et écrire un article dessus
  //- Le publier sur LinkedIn
  //- Tourner ça en mode Cancer de LinkedIn
  //- https://www.topito.com/top-pires-posts-linkedin
  +slide
    +title Une recette simple
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        ul
          li Bookez 2h
          li Trouvez une idée
          li Écrivez tout de suite
          li Publiez

  //- PREMIERE CITATION: Par étapes
  //- Citation pleine page
  //- Image de Ernest Hemingway, signé par lui (avec un ?)
  //- Interessante parce que 1/ il n'a jamais dit ça, 2/ il disait le contraire,
  //- mais 3/ l'idée est que l'état d'esprit entre la rcehrche d'idée et la
  //- correction est différente
  //-
  //- Écriveé bourré, éditez sobre
  //- Je ne cautionne pas de boire avant d'écrire
  //- Il faut un état d'esprit différent pour le coté créatif de trouver les
  //- idées, raconter l'histoire, et corriger les fautes d'orthographe
  +slide
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5 Write drunk, edit sober


  //- 3 COLONNES
  //- 3 colonnes avec Fond, Structure et Forme
  //- Avec des illustrations d'arbres à différentes étapes
  +slide
    +title Fond, Structure et Forme
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        div Fond
        div Structure
        div Forme

