block content
  //- RACONTER UNE HISTOIRE
  //- La structure permet de raconter une histoire
  //- Image d'un livre de contes
  //- On nous raconte des histoires depuis qu'on est petits.
  //- Pour enfant, des romans, des séries, des films
  //- Et à l'échelle de l'humanité, on a des contes, légendes et mythes depuis
  //- des milliers d'années
  //- Nos cerveaux s'attendent à ce qu'une histoire suive une trame particulière
  +slide.bg-orange-2
    +title Structure: Raconter une histoire
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5 On nous raconte des histoires depuis qu'on est petit
        
  //- 3 Actes
  //- Début, Milieu, Fin
  //- Mise en place, Confrontation, Résolution
  //- Diffiicle d'imagine ça autrement
  //- No start: pas d'empathie
  //- No middle: pas excitation
  //- No end: Frustration
  //-
  //- Donner des exemples de chaque partie
  //- Mise en place: Contexte différent, typical day to day
  //- Confrontation: Problème, solution(s)?
  //- Résolution: Retour au début, mais avec la solution
  +slide
    +title 3 Actes: Mise en place, Confrontation, Résolution
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        div Frise avec les 3 actes
        div Début, Milieu, Fin: tellement évident qu'on a du mal à imaginer ça autrement
        div Explique si manque un bout, ce qu'on ressent
        div Si exprt, on peut le tordre, mais là je donne des conseils génériques
