block content
  include _includes/_slides/intro
  include _includes/_slides/1-creation
  include _includes/_slides/2-narration
  include _includes/_slides/3-edition
  include _includes/_slides/conclusion
